<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Groups" >
        <classes>
            <class name="com.GroupCreationTest" />
            <class name="com.GroupModificationTest" />
            <class name="com.GroupDeletionTest" />
        </classes>
    </test>

    <test name="Contacts" >
        <classes>
            <class name="com.ContactCreationTests" />
            <class name="com.ContactModificationTest" />
            <class name="com.ContactDeletionTest" />
        </classes>
    </test>

    <test name="Login">
        <classes>
            <class name="com.TestLogin"/>
        </classes>
    </test>
</suite>